* {
    font-family: 'Hanken Grotesk', sans-serif;
    color: white;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
        border-radius: 0;
    }
    8%{
        opacity: 0.08;
    }
    92%{
        opacity: 0.08;
    }
    100%{
        transform: translateY(-1000px) rotate(var(--spin, 720deg));
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #101313;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    animation-name: animate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}